/* Formulário de Contato*/
.card-title{
    border-bottom: 3px solid rgb(0, 255, 21);
    margin-top: 5px;
    margin-left: 5%;
    padding: 5px;
    width: 125px;
}

.contact-form{
    max-width: 770px;
    margin: 0 auto;
    background: rgba(0,0,0, 0.8);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
}

.input-fields, 
.message{
    width: 48%;
}
.input-fields .input, 
.message textarea{
    margin: 5px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 13px;
    color: #c5ecfd;
    width: 100%;
}
.message textarea{
    height: 187px;
}
.btn{
    float: right;
}

