.mx-auto{
    margin-left: 10px;
}
.icon{
    width: 65px;
    height: 65px;
    margin-top: 1px;
}
.card{
    border: solid 1px green;
    margin-left: 3%;
    margin-right: 5%;
}
.card-title{
    font-size: 28px;
}
.card-text{
    font-size: 19px;
}
.contact{
    font-size: 25px;
}    
