li, nav-item{
    margin-left: 1px;
    width: 160px;
}
b strong{
    font-size: 21px;
}
.paddingZero{
    padding: 0;
}
.nav-item{
    margin-left: 1%;
}
.services-contact-about{
    color: white;
}
dl{
    padding: 3px;
    border-left: 1px solid green;
}