
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', 'Noto Sans JP', 'Roboto Condensed' ;
}
html{
    height: 100%;
}
